doctype
html
    head
        title Jade test
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/style.css')
    body
        nav.navbar.navbar-inverse.navbar-fixed-top
            .container
                #navbar.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li.active
                            a(href='/') home
                        li
                            a(href='/admin/rooms') rooms
                        li
                            a(href='/admin/rooms/add') add
                        li
                            a(href='/') aa

        .container
            block content